@model subd2.Models.RawMaterial

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>RawMaterial</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" onsubmit="return validateForm()" name="createForm">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group" style="display:none">
                <label asp-for="Count" class="control-label"></label>
                <input asp-for="Count" value="0" class="form-control" />
                <span asp-validation-for="Count" class="text-danger"></span>
            </div>
            <div class="form-group" style="display:none">
                <label asp-for="Sum" class="control-label"></label>
                <input asp-for="Sum" value="0" class="form-control" />
                <span asp-validation-for="Sum" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Unit" class="control-label"></label>
                <select asp-for="Unit" class ="form-control" asp-items="ViewBag.Unit"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    <script>
        function validateForm() {
            var count = parseFloat(document.forms["createForm"]["Count"].value);
            var sum = parseFloat(document.forms["createForm"]["Sum"].value);

            if (count < 0 || sum < 0) {
                alert("Count and Sum must not be negative");
                return false;
            }
            return true;
        }
    </script>
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
